<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CRUD </title>
    {% load static %}
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'blog/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Animate CSS -->
    <link href="{% static 'blog/css/animate.min.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'blog/css/sb-admin.css' %}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{% static 'blog/css/plugins/morris.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'blog/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="{% static 'https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js' %}"></script>
        <script src="{% static 'https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js' %}"></script>
    <![endif]-->

</head>


<body>

    <div id="wrapper">

        <!-- Navigation -->{% url 'index' %}
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">CRUD </a>
            </div>

            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="">
                        <a href="{% url 'index_eleve' %}"><i class="fa fa-fw fa-dashboard"></i> Planning</a>
                    </li>
                    <li class="">
                        <a href="{% url 'index_eleve' %}"><i class="fa fa-envelope" aria-hidden="true"> </i> historique</a>
                    </li>
                    <li class="">
                        <a href="{% url 'presabs' %}"><i class="fa fa-clock-o" aria-hidden="true"></i>  Cahier d'absence</a>
                    </li>
                     <li class="">
                        <a href="{% url 'cahierTexte' %}"><i class="fa fa-book" aria-hidden="true"></i>  Cahier de texte</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-6">
                        <h2 class="page-header animated slideInLeft">

                        </h2>
                          <div class="table-responsive col-lg-_">
                            <table class="table table-bordered table-hover table-striped">
                                 <div class="panel panel-success">
                                      <div class="panel-heading animated fadeInLeft"><strong>Liste des eleves</strong></div>
                                        <div class="list-group">

                                         {% for eleve in eleves %}
                            <tr class="">
                                <td><li style="list-style-type: none;"><a href="#" class="list-group-item">{{ eleve.prenom_eleve }} {{ eleve.nom_eleve }}</a></li></td>
                            <td><li style="list-style-type: none;"><a href="#" class="list-group-item">{{ eleve.id_classe }}</a></li></td>

                            </tr>
                             {% endfor %}
                              </div>
                            </table>
                        </div>
                        </div>

                        <div class="col-lg-6">
                             <h2 class="page-header animated slideInLeft">

                        </h2>
                          <div class="table-responsive col-lg-_">
                            <table class="table table-bordered table-hover table-striped">
                                 <div class="panel panel-info">
                                      <div class="panel-heading animated fadeInLeft"><strong>Liste des professeurs</strong></div>
                                        <div class="list-group">
                                 {% for i in profs %}
                                     <tr class="">
                                        <td><li style="list-style-type: none;"><a href="#" class="list-group-item">{{ i.nom_prof }} {{ i.prenom_prof  }}</a></li></td>
                                         <td><li style="list-style-type: none;"><a href="mailto:{{ i.mail_prof }}" class="list-group-item"><b>{{ i.mail_prof }}</b></a></li></td>

                                     </tr>
                                 {% endfor %}
                                </div>
                            </table>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{% static 'blog/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>

    <!-- Morris Charts JavaScript -->
    <script src="{% static 'blog/js/plugins/morris/raphael.min.js' %}"></script>
    <script src="{% static 'blog/js/plugins/morris/morris.min.js' %}"></script>
    <script src="{% static 'blog/js/plugins/morris/morris-data.js' %}"></script>
    <script src="{% static 'blog/js/wow.min.js' %}"></script>
    <script>
    new WOW().init();
</script>

</body>

</html>

