<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CRUD </title>
    {% load static %}
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'blog/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Animate CSS -->
    <link href="{% static 'blog/css/animate.min.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'blog/css/sb-admin.css' %}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{% static 'blog/css/plugins/morris.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'blog/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet"
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>


<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">CRUD </a>
            </div>

            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="">
                        <a href="{% url 'index' %}"><i class="fa fa-fw fa-dashboard"></i> Planning</a>
                    </li>
                    <li class="">
                        <a href="{% url 'index' %}"><i class="fa fa-envelope" aria-hidden="true"> </i> historique</a>
                    </li>
                    <li class="">
                        <a href="{% url 'ajout' %}"><i class="fa fa-cog fa-fw" aria-hidden="true"> </i>Ajouter un eleve</a>
                    </li>
                    <li class="">
                        <a href="{% url 'liste' %}"><i class="fa fa-file" aria-hidden="true"> </i> Liste des eleves</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="page-header">
                             Notifications
                        </h2>

                    </div>
                </div>
                <!-- /.row -->

        {% load static %}
        <link href="{% static 'blog/notif.css' %}" rel="stylesheet" type="text/css">
        <!------ Include the above in your HEAD tag ---------->


        <form action="{% url 'notification' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="date" value= '{{ a|date:"Y-m-d h:i:s"  }}' required id="id_date">
            <input type="hidden" name="id_prof_emmet" value= '{{ c }}'>
            <div class="container">
                <div class="messaging">
                    <div class="inbox_people">
                        <div class="headind_srch">
                            <div class="recent_heading">
                                <h4>Envoyés</h4>
                            </div>
                            <div class="form-group">
                                <select name="id_prof_recep">
                                    <optgroup label="Professeurs">
                                        {% for i in res %}
                                            <option value="{{ i.id }}">{{ i.prenom_prof }} {{ i.nom_prof }}</option>
                                        {% endfor %}
                                    </optgroup>
                                </select>
                            </div>
                        </div>

                        <div class="inbox_chat">
                            {% for i in notif1 %}
                                <div class="chat_list active_chat">
                                    <div class="chat_people">
                                            <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                        <div class="chat_ib">
                                        {% for j in res %}
                                            {% if j.id == i.id_prof_emmet %}
                                                <h5>{{ j.prenom_prof }} {{ j.nom_prof }} <span class="chat_date">{{ i.date }}</span></h5>
                                                    <p>{{ i.contenu }}</p>
                                            {% endif %}
                                        {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="panel-footer">
                            <div class="input-group">
                                <input  name="contenu" class="form-control input-sm" placeholder="Type your message here..." />
                                    <span class="input-group-btn">
                                        <button type="submit" value="submit" class="btn btn-success btn-sm">Send</button>
                                    </span>
                            </div>

                        </div>
                    </div>

                    <div class="messaging">

                        <div class="inbox_people rak">
                            <div class="headind_srch">
                                <div class="recent_heading">
                                    <h4>Reçus</h4>
                                </div>

                            </div>
                            <div class="inbox_chat">
                                {% for i in notif %}
                                    <div class="chat_list active_chat">
                                        <div class="chat_people">
                                            <div class="chat_img"> <img src="https://cdn3.iconfinder.com/data/icons/business-round-flat-vol-1-1/36/user_account_profile_avatar_person_student_male-512.png" alt="sunil"> </div>
                                                <div class="chat_ib">
                                                {% for j in res %}
                                                    {% if j.id == i.id_prof_emmet %}
                                                         <h5>{{ j.prenom_prof }} {{ j.nom_prof }} <span class="chat_date">{{ i.date }}</span></h5>
                                                         <p>{{ i.contenu }}</p>
                                                    {% endif %}
                                                {% endfor %}
                                                </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                        </div>

                    </div>

                </div>

             </div>

        </form>

</body>
</html>

    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{% static 'blog/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>

    <!-- Morris Charts JavaScript -->
    <script src="{% static 'blog/js/plugins/morris/raphael.min.js' %}"></script>
    <script src="{% static 'blog/js/plugins/morris/morris.min.js' %}"></script>
    <script src="{% static 'blog/js/plugins/morris/morris-data.js' %}"></script>
    <script src="{% static 'blog/js/wow.min.js' %}"></script>
    <script>
    new WOW().init();
</script>

</body>

</html>

