<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CRUD Django</title>
    {% load static %}
     <link href="{% static 'blog/css/_modal.scss' %}" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'blog/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Animate CSS -->
    <link href="{% static 'blog/css/animate.min.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'blog/css/sb-admin.css' %}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{% static 'blog/css/plugins/morris.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'blog/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="{% static 'https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js' %}"></script>
        <script src="{% static 'https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js' %}"></script>
    <![endif]-->

</head>


<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand wow zoomIn" href="{% url 'home' %}">{{user.username}}</a>
            </div>
     
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav wow zoomIn">

                    <li class="">
                        <a href="#"><i class="fa fa-fw fa-dashboard"></i> <i class="fas fa-file-alt"></i>Planning</a>
                    </li>
                
                    <li class="">
                        <a href="{% url 'listeEleveProf' %}"><i class="fa fa-file" aria-hidden="true"> </i> Liste des eleves</a>
                    </li>
                     <li class="">
                        <a href="{% url 'notification' %}"><i class="fa fa-paper-plane" aria-hidden="true"></i>  Envoyer un message</a>
                    </li>
                    <li class="">
                        <a href="{% url 'plaquetteProf' %}"><i class="fa fa-eye" aria-hidden="true"></i> Plaquette</a>
                    </li>
                    <li class="">
                        <a href="{% url 'deconnexion' %}"><i class="fa fa-paper-plane" aria-hidden="true"></i> Deconnexion</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="page-header animated fadeInLeft">
                            Planning <small>Create, Read, Update and Delete</small>
                        </h2>
                       
                    </div>
                </div>
                <!-- /.row -->


             <div class="col-lg-12">
                                
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped animated fadeInRight">
                                <thead>
                                    <tr>
                                        <th class="col-lg-1 col-sm-1 col-xs-1 col-md-1" style="text-align: center; background-color: rgb(200, 173, 127);">Heure</th>
                                        <th class="" style="text-align: center; background-color: rgb(200, 173, 127);">Lundi</th>
                                        <th class="" style="text-align: center; background-color: rgb(200, 173, 127);">Mardi</th>
                                        <th class="" style="text-align: center; background-color: rgb(200, 173, 127);">Mercredi</th>
                                        <th class="" style="text-align: center; background-color: rgb(200, 173, 127);">Jeudi</th>
                                        <th class="" style="text-align: center; background-color: rgb(200, 173, 127);">Vendredi</th>
                                        <th class="" style="text-align: center; background-color: rgb(200, 173, 127);">Samedi</th>
                                        <th class="col-lg-1.2 col-sm-1.2 col-xs-1.2 col-md-1.2" style="text-align: center; background-color: rgb(200, 173, 127);">Options</th>
                                    </tr>
                                </thead>
                                <tbody>
                                 
                            {% for i in planning %}
                            <tr style="text-align: center;">
                                <td><b>{{ i.heure }}</b></td>
                                <td>{{ i.moduleLundi }}</td>
                                <td>{{ i.moduleMardi }}</td>
                                <td>{{ i.moduleMercredi }}</td>
                                <td>{{ i.moduleJeudi }}</td>
                                <td>{{ i.moduleVendredi }}</td>
                                <td>{{ i.moduleSamedi }}</td>
                                <td>
                                    <a type="button" class="btn btn-xs btn-warning" data-toggle= "modal" data-target= "#exampleModalCenter" href="{% url 'edit' id=i.id %}"> EDIT </a>
                                    <a  type="button" class="btn btn-xs btn-danger" href="{% url 'del' id=i.id %}">DELETE </a>
                                </td>
                            </tr>
                             {% endfor %}
                                    
                                </tbody>
                                <!-- Modal -->
                            </table>

                            <div class= "modal fade" id= "exampleModalCenter" tabindex= "-1" role= "dialog" aria-labelledby= "exampleModalCenterTitle" aria-hidden= "true" >
                            <div class= "modal-dialog modal-dialog-centered" role= "document" >
                                <div class= "modal-content" >
                                    <div class= "modal-header" >
                                        <h5 class= "modal-title" id= "exampleModalLongTitle" > Modal title </h5>
                                        <button type= "button" class= "close" data-dismiss= "modal" aria-label= "Close" >
                                            <span aria-hidden= "true" > &times; </span>
                                        </button>
                                    </div>
                                    <div class= "modal-body" >


                                </div>
                                    <div class= "modal-footer" > <button type= "button" class= "btn btn-secondary" data-dismiss= "modal" > Close </button>
                                        <button type= "button" class= "btn btn-primary" > Save changes </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal -->
                        </div>
                    </div>
                </div>
                
            </div>
            <!-- /.container-fluid -->


        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{% static 'blog/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>

    <!-- Morris Charts JavaScript -->
    <script src="{% static 'blog/js/plugins/morris/raphael.min.js' %}"></script>
    <script src="{% static 'blog/js/plugins/morris/morris.min.js' %}"></script>
    <script src="{% static 'blog/js/plugins/morris/morris-data.js' %}"></script>
    <script src="{% static 'blog/js/wow.min.js' %}"></script>
    <script>
    new WOW().init();
</script>
</body>

</html>
